@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  /* typography */
  font-size: 65%;

  /* browser defaults */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /* colors */
  // --bg01: #0a090f;
  --bg01: #060508;
  --bg02: #1b1822;
  --fg02: #4e4b55;
  --fg01: #f2f2f2;
  --ac01: #816bff;
  --ac02: #54ff80;
  --ac03: #74d9fe;
  --ac04: #6682ff;
  --ac05: #ff5487;
  --ac06: #ffda6a;
  --ac07: #eb6aff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  color: var(--fg01);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: none;
  padding: 0;
  margin: 0;
}

/* BODY */

html,
body {
  min-height: 100vh;
  background-color: var(--bg01);
}

body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  scroll-behavior: smooth;
  font-size: 2rem;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1920px;
  width: 60vw;
  min-height: calc(60vw * 9 / 16);
  max-height: calc(60vw * 9 / 16);
  display: grid;
  grid-template-columns: 14rem 1fr 20rem;
  grid-template-areas: "nav content right";
  grid-template-rows: 1fr;
  gap: 2rem;
}

/* * * * * INDEX PAGE * * * * */

/* Nav sections */

.index-nav {
  grid-area: nav;
  border: 1px solid var(--fg02);
  display: grid;
  grid-template-rows: auto 1fr;

  header {
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid var(--fg02);
  }

  nav {
    gap: 1rem;
    padding: 2rem;
    display: grid;
    align-content: start;
  }
}

/* Index */

.index-main {
  grid-area: content;
  padding: 2rem 2rem 0;
  gap: 2rem;
  display: grid;
  grid-template-rows: 1fr auto;
}

.index-about {
  gap: 2rem;
  display: grid;
  align-content: start;
}

.footer {
  padding-top: 1rem;
  border-top: 1px solid var(--fg02);
  display: grid;
  /*grid-template-columns: auto auto 1fr; */
  grid-template-columns: auto fr;
  gap: 2rem;
  color: var(--fg02);
  margin-top: auto;

  p:last-child {
    margin-left: auto;
  }
}

/* Right sections */

.index-profile {
  grid-area: right;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  border: 1px solid var(--fg02);

  .img-c {
    padding: 2rem;
    border-bottom: 1px solid var(--fg02);
  }

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  p {
    padding: 1rem 2rem;

    &:nth-of-type(1) {
      padding-top: 2rem;
    }

    &:last-child {
      align-self: end;
      text-align: right;
      padding-bottom: 2rem;
    }
  }
}

/* Nav sections */

.default-nav {
  grid-area: nav;
  border: 1px solid var(--fg02);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header nav";
  gap: 2rem;

  header {
    padding: 2rem;
    text-align: center;
    align-self: center;
    max-width: 17ch;
    border-right: 1px solid var(--fg02);
    grid-template-rows: auto;
    grid-template-columns: auto auto;

    &.tags {
      max-width: fit-content;
    }
  }

  nav {
    padding: 2rem;
    align-self: center;
    align-content: start;
    justify-self: end;
    justify-content: end;
    display: grid;
    gap: 2rem;
    grid-template-rows: auto;
    grid-template-colums: auto auto;
    grid-template-areas: "a a";

    * {
      text-align: right;
      justify-self: end;
    }
  }
}

#main-post .default-nav nav {
  grid-template-colums: auto auto auto;
  grid-template-areas: "a a a";
}

/* * * * * CONTACT PAGE * * * * */
#main-contact {
  grid-template-columns: auto;
  grid-template-rows: 7rem auto;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;

  .contact-main {
    grid-area: content;
    align-self: stretch;
    gap: 2rem;
    display: grid;
    // grid-template-rows: 1fr auto;
    // grid-template-columns: auto;
    // grid-template-areas:
    //   "content"
    //   "footer";

    .contact-section {
      grid-area: "content";
      padding: 0 2rem 0;
      gap: 2rem;
      display: grid;
      align-content: start;
      height: 100%;
      overflow: auto;
      /*overflow-block: scroll;*/

      * {
        img {
          width: 100%;
          grid-area: img;
        }

        .tag {
          grid-area: post;
          text-align: right;
        }

        .title {
          grid-area: post;
        }

        .details {
          grid-area: details;
        }

        .giscus {
          grid-area: details;
          min-height: 10vh;
          padding-top: 2em;
        }
      }
    }
  }

}

/* * * * * BLOG ARTICLES PAGE * * * * */

#main-blog {
  grid-template-columns: auto;
  grid-template-rows: 7rem auto 4rem;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;

  .articles-main {
    grid-template-columns: 21ch 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "articles";
    align-self: start;
    padding: 0 2rem 0;

    .articles {
      padding-top: 2rem;
      grid-template: "articles";
      article {
        display: grid;
        gap: 2rem;
        min-height: 10ch;
        grid-template-columns: 15ch auto;
        grid-template-rows: 1ch 1ch;
        grid-template-areas:
          "img post"
          "img details";

        img {
          width: 100%;
          grid-area: img;
        }

        .tag {
          grid-area: post;
          text-align: right;
        }

        .title {
          grid-area: post;
        }

        .details {
          grid-area: details;
        }
      }
    }
  }
}

/* * * * * POST * * * * */

#main-post {
  grid-template-columns: auto;
  grid-template-rows: 7rem 1fr 4rem;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  align-items: center;
  justify-items: stretch;
  gap: 2rem;
  margin: 2rem 0;

  .post-main {
    grid-area: content;
    // align-self: stretch;
    height: 100%;
    gap: 2rem;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto;
    grid-template-areas:
      "meta content";
    overflow: auto;

    .post-meta {
      padding: 2rem 2rem 0;
      border: 1px solid var(--fg02);
      max-width: 17ch;
      gap: 2ch;
      display: flex;
      flex-direction: column;
      justify-self: start;

      img {
        max-width: 17ch;
      }
    }

    .post-content {
      align-self: stretch;
      grid-area: "content";
      padding-right: 2rem;
      gap: 2rem;
      display: grid;
      align-content: start;
      // height: 50ch;
      overflow: auto;
      overflow-block: scroll;

      h1,h2,h3,h4,h5,h6 {
        background: var(--bg02);
      }

      h2,h3,h4,h5,h6 {
        margin-top: 2ch;
      }

      h2::before {
        padding-right: 1ch;
        content: "##";
        display: inline-block;
      }

      h3::before {
        padding-right: 1ch;
        content: "###";
        display: inline-block;
      }

      h4::before {
        padding-right: 1ch;
        content: "####";
        display: inline-block;
      }

      h5::before {
        padding-right: 1ch;
        content: "#####";
        display: inline-block;
      }

      h6::before {
        padding-right: 1ch;
        content: "#######";
        display: inline-block;
      }

      article {
        display: flex;
        flex-direction: column;

        header {
          padding-bottom: 2ch;

          h1 a {
            position: relative;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            gap: 1rem;
            justify-self: stretch;

            &::before {
              content: "#";
              display: inline-block;
            }

            &:hover::before {
              content: "🔗";
              display: inline-block;
              color: transparent;
              text-shadow: 0 0 0 var(--bg01);
            }
          }
        }

        section {
          gap: 1ch;
          display: flex;
          flex-direction: column;
          overflow: auto;

          a {
            text-decoration: underline;

            &::after {
              padding-left: 1ch;
              content: "↗";
              display: inline-block;
            }
          }

          ul {
            list-style-type: circle;
            list-style-position: inside;
          }

          ol {
            list-style-type: upper-roman;
            list-style-position: inside;
          }

          em {
            font-style: italic;
          }

          strong {
            font-style: bold;
          }

          small {
            color: var(--fg02);
          }
        }
      }

      .giscus {
        grid-area: details;
        min-height: 10vh;
        padding-top: 2em;
      }
    }
  }
}


.footer {
  grid-area: "footer";
  align-self: end;
  padding-top: 1rem;
  border-top: 1px solid var(--fg02);
  display: grid;
  /*grid-template-columns: auto auto 1fr; */
  grid-template-columns: auto 1fr;
  gap: 2rem;
  color: var(--fg02);
  margin-top: auto;
}

.footer p:last-child {
  margin-left: auto;
}

/* HEIGHT = WIDTH */

@media (max-aspect-ratio: 4/3) {
  :root {
    font-size: 55%;
  }

  main {
    width: 99vw;
    min-height: 50vh;
    grid-template-columns: 1fr 12vh;
    grid-template-rows: 7rem auto;
    grid-template-areas:
      "nav nav"
      "content right";
    /*justify-items: stretch;*/
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
  }

  .index-nav {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "header nav";
    /*justify-content: start;*/
    gap: 2rem;

    header {
      align-self: center;
      max-width: 12rem;
      border-bottom: none;
      border-right: 1px solid var(--fg02);
      grid-template-rows: auto;
      grid-template-columns: auto auto;
    }

    nav {
      align-self: center;
      justify-self: end;
      justify-content: end;
      display: grid;
      gap: 2rem;
      grid-template-rows: auto;
      grid-template-colums: auto auto;
      grid-template-areas: "a a";

      a {
        text-align: right;
        justify-self: end;
      }
    }
  }

  .index-main {
    display: grid;
    align-self: stretch;
  }

  .index-profile {
    min-width: 12vh;
    height: 100%;
    justify-self: end;
  }
}

@media (max-aspect-ratio: 1/1) {
  :root {
    font-size: 50%;
  }

  main {
    max-width: 1920px;
    width: 60vw;
    min-width: 90vw;
    min-height: 90vh;
    grid-template-columns: 1fr;
    grid-template-rows: 7rem auto;
    grid-template-areas:
      "nav"
      "content";
    /*justify-items: stretch;*/
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
  }

  .index-main {
    display: grid;
    align-self: stretch;
  }

  .index-profile {
    display: none;
    // min-width: 12vh;
    // height: 100%;
    // justify-self: end;
  }

  #main-contact {
    .contact-main {
      .contact-section {
        table {
          width: 100% !important;
        } 
      }
    }
  }

  #main-post {
    .post-main {
      grid-template-rows: auto auto;
      grid-template-columns: auto;
      grid-template-areas:
        "meta"
        "content";

      .post-meta {
        grid-area: meta;

        border: none;
        width: 90vw;
        padding: 0;
        margin: 0;
        display: block;

        img {
          object-fit: cover;
          width: 90vw;
          max-width: 90vw;
          max-height: 20vh;
        }

        p, div {
          display: none;
        }
      }

      .post-content {
        padding-right: 0;
        padding-top: 2ch;

        overflow: unset;
        overflow-block: unset;
      }
    }
    .default-nav {
      nav {
        grid-template-colums: auto auto;
        grid-template-areas: "a a";

        * {
          &:nth-child(1) {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-aspect-ratio: 9/16) {
  #main-post {
    .default-nav {
      grid-template-columns: auto;
      grid-template-areas: "header";
      justify-items: stretch;
      header {
        border: none;
        max-width: 100%;
      }
      nav {
        display: none;
      }
    }
  }
}

/* small details */

body,
input,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: fg02scale;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
p {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h {
  font-weight: bold;
  * {
    font-weight: bold;
  }
}

small {
  font-style: italic;
}

pre.sourceCode {
  padding: 2rem;
}

a {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
}

a:hover {
  background-color: var(--fg01);
  color: var(--bg01);
}

div:has(> table) {
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 0;
  width: 75%;
  border-top: 1px solid var(--fg02);
  border-left: 1px solid var(--fg02);
  border-right: 1px solid var(--fg02);
}

hr {
  margin: auto;
  border-top: 1px solid var(--fg01);
  width: 4ch;
}

// tr:nth-child(odd) {
//   background-color: var(--bg02);
// }

tr:hover {
  background-color: var(--fg02);
}

th,
td {
  padding: 0.75ch;
  text-align: left;
  border-bottom: 1px solid var(--fg02);
}

td:nth-child(even) {
  text-align: right;
}

*::-webkit-scrollbar {
  background-color: var(--bg01);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--bg02);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--fg02);
}

*::-webkit-scrollbar-button {
  display: none;
}

/* TAGS */

.tag[data-content="Update"] * {
  color: var(--fg02);
  &:hover {
    background-color: var(--fg02) !important;
    color: var(--fg01);
  }
}

.tag[data-content="Keyboards"] * {
  color: var(--ac01);
  &:hover {
    background-color: var(--ac01) !important;
    color: var(--bg01);
  }
}

.tag[data-content="Nix"] * {
  color: var(--ac03);
  &:hover {
    background-color: var(--ac03) !important;
    color: var(--bg01);
  }
}

/* other details */

.link {
  text-decoration: underline;
}

.ext::after {
  padding-left: 1ch;
  content: "↗";
  display: inline-block;
}

.copy::after {
  padding-left: 1ch;
  font-size: medium;
  content: "📋";
  display: inline-block;
  color: transparent;
  text-shadow: 0 0 0 var(--fg01);
}

.copy:hover::after {
  text-shadow: 0 0 0 var(--bg01);
}

.accent1 {
  color: var(--ac01);
}

.accent2 {
  color: var(--ac02);
}

.gray {
  color: var(--fg02);
}
