@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  font-size: 60%; 
  /*box-sizing: border-box;*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /* COLOR VARIABLES */
  /*--bg01: #0b0b0b;*/
  --bg01: #0a090f;
  --bg02: #1b1822;
  --fg02: #4e4b55;
  --fg01: #f2f2f2;
  --ac01: #816bff;
  --ac02: #54ff80;
  --ac03: #74d9fe;
  --ac04: #6682ff;
  --ac05: #ff5487;
  --ac06: #ffda6a;
  --ac07: #eb6aff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  color: var(--fg01);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: none;
  padding: 0;
  margin: 0;
}

/* BODY */

html, body {
  min-height: 100vh;
  background-color: var(--bg01);
}

body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  scroll-behavior: smooth;
  font-size: 2rem;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1920px;
  width: 60vw;
  min-height: calc(60vw * 9 / 16);
  display: grid;
  grid-template-columns: 14rem 1fr 20rem;
  grid-template-areas: "nav content right";
  grid-template-rows: 1fr;
  gap: 2rem;
}

/* * * * * MAIN PAGE * * * * */

/* Nav sections */

.main-nav {
  grid-area: nav;
  border: 1px solid var(--fg02);
  display: grid;
  grid-template-rows: auto 1fr;

  header {
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid var(--fg02);
  }

  nav {
    gap: 1rem;
    padding: 2rem;
    display: grid;
    align-content: start;
  }
}

/* Main content */

.main-content {
  grid-area: content;
  padding: 2rem 2rem 0;
  gap: 2rem;
  display: grid;
  grid-template-rows: 1fr auto;
}

.main-about {
  gap: 2rem;
  display: grid;
  align-content: start;
}

.footer {
  padding-top: 1rem;
  border-top: 1px solid var(--fg02);
  display: grid;
  /*grid-template-columns: auto auto 1fr; */
  grid-template-columns: auto fr; 
  gap: 2rem;
  color: var(--fg02);
  margin-top: auto;

  p:last-child {
    margin-left: auto;
  }
}


/* Right sections */

.main-right {
  grid-area: right;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  border: 1px solid var(--fg02);

  .img-c {
    padding: 2rem;
    border-bottom: 1px solid var(--fg02);
  }

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  p {
    padding: 1rem 2rem;
  }

  p:nth-of-type(1) {
    padding-top: 2rem;
  }

  p:last-child {
    align-self: end;
    text-align: right;
    padding-bottom: 2rem;
  }
}

/* * * * * BLOG PAGE * * * * */
/* * * * * CONTACT PAGE * * * * */

#main-blog, #main-contact {
  grid-template-columns: auto; 
  grid-template-rows: 7rem auto;
  grid-template-areas:
    "nav"
    "content";
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

/* * * * * POST * * * * */

#main-post{
  grid-template-columns: auto; 
  grid-template-rows: 7rem 1fr 4rem;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  align-items: center;
  /*justify-items: stretch;*/
  gap: 2rem;
  margin: 2rem 0;
}

/* Nav sections */

.default-nav {
  grid-area: nav;
  border: 1px solid var(--fg02);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header nav";
  gap: 2rem
}

.default-nav header {
  padding: 2rem;
  text-align: center;
  align-self: center;
  max-width: 17ch;
  border-right: 1px solid var(--fg02);
  grid-template-rows: auto;
  grid-template-columns: auto auto;

  &.tags {
    max-width: fit-content;
  }
}

.default-nav nav {
  padding: 2rem;
  align-self: center;
  align-content: start;
  justify-self: end;
  justify-content: end;
  display: grid;
  gap: 2rem;
  grid-template-rows: auto;
  grid-template-colums: auto auto;
  grid-template-areas: "a a"
}

.default-nav nav * {
  text-align: right;
  justify-self: end;
}

#main-post .default-nav nav {
  grid-template-colums: auto auto auto;
  grid-template-areas: "a a a"
}

/* Main content */

.default-content {
  grid-area: content; 
  align-self: start;
  height: calc(100% - 2ch);
  gap: 2rem;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto;
  grid-template-areas:
    "content"
    "footer";
}

#main-blog .default-content .default-main article {
  display: grid;
  gap: 2rem;
  min-height: 10ch;
  grid-template-columns: 15ch auto;
  grid-template-rows: 1ch 1ch;
  grid-template-areas:
    "img post"
    "img details";
}

#main-post .default-content {
  grid-template-columns: 21ch 1fr;
  grid-template-rows: auto;
  grid-template-areas: "meta content";
}

#main-post .default-content .default-main {
  padding-top: 2rem;
}

.default-main {
  grid-area: "content";
  padding: 0 2rem 0;
  gap: 2rem;
  display: grid;
  align-content: start;
  height: calc(100% - 4rem);
  max-height: 25vw;
  overflow: auto;
  /*overflow-block: scroll;*/
}

.default-main * img {
  width: 100%;
  grid-area: img;
}

.default-main * .tag {
  grid-area: post;
  text-align: right;
}

.default-main * .title {
  grid-area: post;
}

.default-main * .details {
  grid-area: details;
}

.default-main * .giscus {
  grid-area: details;
  min-height: 10vh;
  padding-top: 2em;
}

// .default-main * .reading_time {
//   grid-area: details2;
// }

#main-post .default-main {
  max-height: 48ch;
}

#main-post .default-main article {
  display: flex;
  flex-direction: column;
}

#main-post .default-main article header {
  padding-bottom: 2ch;
}

#main-post .default-main h1, #main-post h2, #main-post h3, #main-post h4, #main-post h5, #main-post h6 {
  background: var(--bg02);
}

#main-post h2, #main-post h3, #main-post h4, #main-post h5, #main-post h6 {
  margin-top: 2ch;
}

#main-post .default-main article header h1 a {
  position: relative;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  justify-self: stretch;
}

#main-post .default-main article header h1 a::before {
  content: '#';
  display: inline-block;
}

#main-post .default-main article header h1 a:hover::before {
  content: '🔗';
  display: inline-block;
  color: transparent;
  text-shadow: 0 0 0 var(--bg01);
}

#main-post h2::before {
  padding-right: 1ch;
  content: '##';
  display: inline-block;
}

#main-post h3::before {
  padding-right: 1ch;
  content: '###';
  display: inline-block;
}

#main-post h4::before {
  padding-right: 1ch;
  content: '####';
  display: inline-block;
}

#main-post h5::before {
  padding-right: 1ch;
  content: '#####';
  display: inline-block;
}

#main-post h6::before {
  padding-right: 1ch;
  content: '#######';
  display: inline-block;
}

#main-post .default-main article section {
  gap: 1ch;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#main-post .default-main article section a {
  text-decoration: underline;
}

#main-post .default-main article section a::after {
  padding-left: 1ch;
  content: '↗';
  display: inline-block;
}

#main-post .default-main article section ul {
  list-style-type: circle;
  list-style-position: inside;
}

#main-post .default-main article section ol {
  list-style-type: upper-roman;
  list-style-position: inside;
}

#main-post .default-main article section em {
  font-style: italic;
}

#main-post .default-main article section strong {
  font-style: bold;
}

#main-post .default-main article section small {
  color: var(--fg02);
}

.default-meta {
  padding: 2rem 2rem 0;
  border: 1px solid var(--fg02);
  max-width: 17ch;
  gap: 2ch;
  display: flex;
  flex-direction: column;
  justify-self: start;
  height: 48ch;
}

.default-meta img {
  max-width: 17ch;
}

.footer {
  grid-area: "footer";
  align-self: end;
  padding-top: 1rem;
  border-top: 1px solid var(--fg02);
  display: grid;
  /*grid-template-columns: auto auto 1fr; */
  grid-template-columns: auto 1fr; 
  gap: 2rem;
  color: var(--fg02);
  margin-top: auto;
}

.footer p:last-child {
  margin-left: auto;
}

/* HEIGHT > WIDTH */

@media (max-aspect-ratio: 1/1) {
  :root {
    font-size: 50%; 
  }

  main {
    width: 99vw;
    min-height: 50vh;
    grid-template-columns: 1fr 12vh; 
    grid-template-rows: 7rem auto;
    grid-template-areas:
      "nav nav"
      "content right";
    /*justify-items: stretch;*/
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
  }

  .main-nav {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "header nav";
    /*justify-content: start;*/
    gap: 2rem
  }

  .main-nav header {
    align-self: center;
    max-width: 12rem;
    border-bottom: none;
    border-right: 1px solid var(--fg02);
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }

  .main-nav nav {
    align-self: center;
    justify-self: end;
    justify-content: end;
    display: grid;
    gap: 2rem;
    grid-template-rows: auto;
    grid-template-colums: auto auto;
    grid-template-areas: "a a"
  }
  
  .main-nav nav a {
    text-align: right;
    justify-self: end;
  }

  .main-content {
    display: grid;
  }

  .main-right {
    min-width: 12vh;
    height: 100%;
    justify-self: end;
  }

  .default-main {
    max-height: 74ch;
  }

  #main-post .default-main {
    max-height: 74ch;
  }
}

/* small details */

body, input, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: fg02scale;
}

h1, h2, h3, h4, h5, h6, small, p {
  font-size: 2rem;
}

small {
  font-style: italic;
}

pre.sourceCode {
  padding: 2rem; 
}

a {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
}

a:hover {
  background-color: var(--fg01);
  color: var(--bg01);
}

div:has(> table) {
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 0;
  width: 65%;
  border-top: 1px solid var(--fg02);
  border-left: 1px solid var(--fg02);
  border-right: 1px solid var(--fg02);
}

tr:nth-child(odd) {
  background-color: var(--bg02)
}

tr:hover {
  background-color: var(--fg02);
}

th, td {
  padding: 1ch;
  text-align: left;
  border-bottom: 1px solid var(--fg02);
}

*::-webkit-scrollbar {
  background-color: var(--bg01);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--bg02);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--fg02);
}

*::-webkit-scrollbar-button {
  display: none;
}

/* TAGS */

.tag[data-content="Update"] * {
  color: var(--fg02);
  &:hover {
    background-color: var(--fg02) !important;
    color: var(--fg01);
  }
}

.tag[data-content="Keyboards"] * {
  color: var(--ac01);
  &:hover {
    background-color: var(--ac01) !important;
    color: var(--bg01);
  }
}

.tag[data-content="Nix"] * {
  color: var(--ac03);
  &:hover {
    background-color: var(--ac03) !important;
    color: var(--bg01);
  }
}

.link {
  text-decoration: underline;
}

.ext::after {
  padding-left: 1ch;
  content: '↗';
  display: inline-block;
}

.copy::after {
  padding-left: 1ch;
  font-size: medium;
  content: '📋';
  display: inline-block;
  color: transparent;
  text-shadow: 0 0 0 var(--fg01);
}

.copy:hover::after {
  text-shadow: 0 0 0 var(--bg01);
}

.accent1 {
  color: var(--ac01);
}

.accent2 {
  color: var(--ac02);
}

.gray {
  color: var(--fg02);
}
