<!DOCTYPE html>
<html lang="$lang$">
  <head>
    <title>$title$</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta property="og:site_name" content="$siteName$">
    <meta property="og:title" content="$title$">
    <meta property="og:url" content="$root$$url$">
    <meta property="og:description" content="$desc$">
    <meta property="og:image" content="https://74k1.sh/favicon-512x512.png">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="canonical" href="$root$$url$">

    <link rel="alternate" href="/blog/atom.xml" title="$feedTitle$" type="application/atom+xml">
    <link rel="alternate" href="/blog/rss.xml" title="$feedTitle$" type="application/rss+xml">

    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/code.css" />

    <script defer src="https://umami.74k1.sh/umami.js" data-website-id="cdf5a40d-68e6-4bb8-a3f4-b99a2a1faeb4"></script>
    <script src="https://unpkg.com/dayjs/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/utc.js"></script>
    <script>
        dayjs.extend(window.dayjs_plugin_utc)
    </script>
  </head>
  <body onload="setutcnow()">
    $body$
    <script defer src="/js/script.js"></script>
  </body>
</html>
