<main id="main-post">
  <section class="default-nav">
    <header>
      <h1><a href="/">74k1.sh</a><a href="/blog">/blog</a>/post</h1>
    </header>
    <nav>
      <a href="/">cd ~</a>
      <a href="/blog/">blog</a>
      <a href="/contact/">contact</a>
    </nav>
  </section>
  <div class="default-content">
    <section class="default-meta">
      <img src=$image$ alt="Cover image for $title$">
      <p><span class="gray">RELEASED</span><br/>$date$</p>
      $if(updated)$
      <p><span class="gray">UPDATED</span><br/>$updated$</p>
      $endif$
      <p><span class="gray">TAGS</span><br/>
        $if(firstTag)$
          $firstTag$
        $else$
          Untagged
        $endif$
      </p>
    </section>
    <section class="default-main">
      <article>
        <header>
          <h1>
            <a onclick="copyurl(this)">$title$</a>
          </h1>
        </header>
        <section>
          $body$
        </section>
      </article>
    </section>
  </div>
  <section class="footer">
    <p><a href="/GPG.asc" target="_blank" class="link">GPG.asc</a></p>
    <p>UTC+1 <span id="UTCNOW"></span></p>
  </section>
</main>
