<main>
  <article>
    <header>
      <h1>
        <a href=".$url$">$title$</a>
      </h1>
      <div>
        $date$ $if(updated)$(updated: $updated$)$endif$
      </div>
    </header>
    <section>
      $body$
      <div class="author-info">
        $if(authorTwitter)$
          <a href="https://twitter.com/$authorTwitter$">Twitter</a>
        $endif$
        
        $if(authorGithub)$
          <a href="https://github.com/$authorGithub$">GitHub</a>
        $endif$
      </div>
    </section>
  </article>
</main>
