@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  font-size: clamp(60%, 0.5vw, 80%);
  /*box-sizing: border-box;*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /* COLOR VARIABLES */
  /*--bg01: #0b0b0b;*/
  --bg01: #0a090f;
  --bg02: #1b1822;
  --gray: #4e4b55;
  --fg01: #f2f2f2;
  --ac01: #816bff;
  --ac02: #54ff80;
  --ac03: #74d9fe;
  --ac04: #6682ff;
  --ac05: #ff5487;
  --ac06: #ffda6a;
  --ac07: #eb6aff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  color: var(--fg01);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: none;
  padding: 0;
  margin: 0;
}

/* BODY */

html, body {
  min-height: 100vh;
  background-color: var(--bg01);
}

body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  scroll-behavior: smooth;
  font-size: 2rem;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1600px;
  width: 60vw;
  min-height: calc(60vw * 9 / 16);
  display: grid;
  grid-template-columns: 14rem 1fr 20rem;
  grid-template-areas: "nav content right";
  grid-template-rows: 1fr;
  gap: 2rem;
}

/* * * * * MAIN PAGE * * * * */

/* Nav sections */

.main-nav {
  grid-area: nav;
  border: 1px solid var(--gray);
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-nav header {
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid var(--gray);
}

.main-nav nav {
  gap: 1rem;
  padding: 2rem;
  display: grid;
  align-content: start;
}

/* Main content */

.main-content {
  grid-area: content;
  padding: 2rem 2rem 0;
  gap: 2rem;
  display: grid;
  grid-template-rows: 1fr auto;
}

.main-about {
  gap: 2rem;
  display: grid;
  align-content: start;
}

.footer {
  padding-top: 1rem;
  border-top: 1px solid var(--gray);
  display: grid;
  grid-template-columns: auto auto 1fr; 
  gap: 2rem;
  color: var(--gray);
  margin-top: auto;
}

.footer p:last-child {
  margin-left: auto;
}

/* Right sections */

.main-right {
  grid-area: right;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  border: 1px solid var(--gray);
}

.main-right .img-c {
  padding: 2rem;
  border-bottom: 1px solid var(--gray);
}

.main-right img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.main-right p {
  padding: 1rem 2rem;
}

.main-right p:nth-of-type(1) {
  padding-top: 2rem;
}

.main-right p:last-child {
  align-self: end;
  text-align: right;
  padding-bottom: 2rem;
}

/* * * * * BLOG PAGE * * * * */

#main-blog {
  grid-template-columns: auto; 
  grid-template-rows: 7rem auto;
  grid-template-areas:
    "nav"
    "content";
  /*justify-items: stretch;*/
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

/* * * * * CONTACT PAGE * * * * */

#main-contact {
  grid-template-columns: auto; 
  grid-template-rows: 7rem auto;
  grid-template-areas:
    "nav"
    "content";
  /*justify-items: stretch;*/
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

/* Nav sections */

.default-nav {
  grid-area: nav;
  border: 1px solid var(--gray);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header nav";
  gap: 2rem
}

.default-nav header {
  padding: 2rem;
  text-align: center;
  align-self: center;
  max-width: 17ch;
  border-right: 1px solid var(--gray);
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}

.default-nav nav {
  padding: 2rem;
  align-self: center;
  align-content: start;
  justify-self: end;
  justify-content: end;
  display: grid;
  gap: 2rem;
  grid-template-rows: auto;
  grid-template-colums: auto auto;
  grid-template-areas: "a a"
}

.default-nav nav * {
  text-align: right;
  justify-self: end;
}

/* Main content */

.default-content {
  grid-area: content; 
  align-self: start;
  height: calc(100% - 2ch);
  gap: 2rem;
  display: grid;
  grid-template-rows: 1fr auto;
}

.default-main {
  padding: 0 2rem 0;
  gap: 2rem;
  display: grid;
  align-content: start;
  height: calc(100%-4rem);
  max-height: 25vw;
  overflow: scroll;
  overflow-block: scroll;
}

.default-main article {
  display: grid;
  gap: 2rem;
  min-height: 10ch;
  grid-template-columns: 15ch auto;
  grid-template-rows: 1ch 1ch;
  grid-template-areas:
    "img post"
    "img details";
}

.default-main * img {
  width: 100%;
  grid-area: img;
}

.default-main * .title {
  grid-area: post;
}

.default-main * .details {
  grid-area: details;
}

.default-main * .tag {
  grid-area: details;
  text-align: right;
}

/* TAGS */

.tag[data-content="Keyboards"] {
  color: var(--ac01);
}

.footer {
  align-self: end;
  padding-top: 1rem;
  border-top: 1px solid var(--gray);
  display: grid;
  grid-template-columns: auto auto 1fr; 
  gap: 2rem;
  color: var(--gray);
  margin-top: auto;
}

.footer p:last-child {
  margin-left: auto;
}

/* HEIGHT > WIDTH */

@media (max-aspect-ratio: 1/1) {
  :root {
    font-size: 50%;
  }

  main {
    width: 99vw;
    min-height: 50vh;
    grid-template-columns: 1fr 12vh; 
    grid-template-rows: 7rem auto;
    grid-template-areas:
      "nav nav"
      "content right";
    /*justify-items: stretch;*/
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
  }

  .main-nav {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "header nav";
    /*justify-content: start;*/
    gap: 2rem
  }

  .main-nav header {
    align-self: center;
    max-width: 12rem;
    border-bottom: none;
    border-right: 1px solid var(--gray);
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }

  .main-nav nav {
    align-self: center;
    justify-self: end;
    justify-content: end;
    display: grid;
    gap: 2rem;
    grid-template-rows: auto;
    grid-template-colums: auto auto auto;
    grid-template-areas: "a a a"
  }
  
  .main-nav nav a {
    text-align: right;
    justify-self: end;
  }

  .main-content {
    display: grid;
  }

  .main-right {
    min-width: 12vh;
    height: 100%;
    justify-self: end;
  }

  .default-main {
    max-height: 74ch;
  }
}

/* small details */

body, input, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, small, p {
  font-size: 2rem;
}

small {
  font-style: italic;
}

pre.sourceCode {
  padding: 2rem; 
}

a {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
}

a:hover {
  background-color: var(--fg01);
  color: var(--bg01);
}

div:has(> table) {
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 0;
  width: 65%;
  border-top: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}

tr:nth-child(odd) {
  background-color: var(--bg02)
}

tr:hover {
  background-color: var(--gray);
}

th, td {
  padding: 1ch;
  text-align: left;
  border-bottom: 1px solid var(--gray);
}

.accent1 {
  color: var(--ac01);
}

.accent2 {
  color: var(--ac02);
}

.gray {
  color: var(--gray);
}
