{% extends "base.html" %}

{% block content %}
<main id="main-post">
  <section class="default-nav">
    <header>
      <h1><a href="/">74k1.sh</a><a href="/blog">/blog</a>/post</h1>
    </header>
    <nav>
      <a href="/" class="link">cd /</a>
      <a href="/blog/" class="link">/blog</a>
      <a href="/contact/" class="link">/contact</a>
    </nav>
  </section>
  <div class="post-main">
    <section class="post-meta">
      {% set mdata = get_image_metadata(path=page.assets[0]) %}
      {% set image = resize_image(path=page.assets[0], width=(mdata.width)|int, op="fit_width") %}
      <img src="{{ image.url }}" alt="Cover image for {{ page.title }}">
      <p><span class="gray">PUBLISHED</span><br/>{{ page.date }}</p>
      {% if page.taxonomies.tags[0] %}
        <div><span class="gray">TAGS</span>
          {% for tag in page.taxonomies.tags %}
          <p class="tag" data-content="{{ tag }}">
            <a class="link" href={{ get_taxonomy_url(kind="tags", name=page.taxonomies.tags[0]) }}>{{ tag }}</a><br>
          </p>
          {% endfor %}
        </div>
      {% else %}
        <p><span class="gray">TAGS</span><br/>
        UNTAGGED
        </p>
      {% endif %}
    </section>
    <section class="post-content">
      <article>
        <header>
          <h1>
            <a onclick="copyurl(this)">{{ page.title }}</a>
          </h1>
        </header>
        <section>
          {{ page.content | safe }}
        </section>
        <script src="https://giscus.app/client.js"
                data-repo="74k1/blog"
                data-repo-id="R_kgDOMeG3og"
                data-category="Announcements"
                data-category-id="DIC_kwDOMeG3os4CokCO"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme="transparent_dark"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async>
        </script>
      </article>
    </section>
  </div>
  <section class="footer">
    <p><a href="https://github.com/74k1.gpg" target="_blank" class="link ext">GPG</a></p>
    <p>UTC+1 <span id="UTCNOW"></span></p>
  </section>
</main>
{% endblock content %}
