{% extends "base.html" %}

{% block content %}
<main id="main-contact">
  <section class="default-nav">
    <header>
      <h1><a href="/">74k1.sh</a>/contact</h1>
    </header>
    <nav>
      <p><a href="/" class="link">cd /</a></p>
      <p><a href="/blog/" class="link">/blog</a></p>
    </nav>
  </section>
  <div class="contact-main">
    <section class="contact-section">
      <p>I'm always interested in discussing <span class="accent1">system engineering</span>, <span class="accent1">NixOS</span>, <span class="accent1">automation</span>, or potential collaborations.</p>
      <p>Wether you have questions about <span class="accent2">my projects</span>, want to <span class="accent2"> share insights</span> about efficient system management, or are interested in <span class="accent2">working together</span>, I'd love to hear from you.</p>
      <p>You may use the <a href="/GPG.asc" target="_blank" class="link ext">GPG Key</a> to encrypt attachments or messages if wanted.</p>
      <p>You can find me on various platforms or reach out via email.</p>
      <br>
      <div>
        <table>
          <tr>
            <td>Email</td>
            <!--TODO: hide mail address-->
            <td><a href="mailto:mail@74k1.sh" target="_blank" class="link ext">mail(a)74k1.sh</a></td>
          </tr>
          <tr>
            <td>Matrix</td>
            <td><a href="https://matrix.to/#/@74k1:matrix.org" target="_blank" class="link ext">@74k1:matrix.org</a></td>
          </tr>
          <tr>
            <td>Discord</td>
            <td><a onclick="copycontent(this)" class="copy">74k1</a></td>
          </tr>
          <tr>
            <td>GitHub</td>
            <td><a href="https://github.com/74k1" target="_blank" class="link ext">74k1</a></td>
          </tr>
          <tr>
            <td>X (formerly Twitter)</td>
            <td><a href="https://x.com/74k1_" target="_blank" class="link ext">@74k1_</a></td>
          </tr>
          <tr>
            <td>Bluesky</td>
            <td><a href="https://bsky.app/profile/74k1.bsky.social" target="_blank" class="link ext">@74k1.bsky.social</a></td>
          </tr>
          <!--<tr>-->
          <!--  <td>Literal.club</td>-->
          <!--  <td><a href="https://literal.club/74k1" target="_blank" class="link">74k1</a></td>-->
          <!--</tr>-->
        </table>
      </div>
    </section>
  </div>
  <section class="footer">
    <p><a href="/GPG.asc" target="_blank" class="link ext">GPG.asc</a></p>
    <!--<p><a href="#">CV.pdf</a></p>-->
    <p>UTC+1 <span id="UTCNOW"></span></p>
  </section>
</main>
{% endblock content %}
