{% extends "base.html" %}

{% block content %}
<main>
  <section class="index-nav">
    <header>
      <h1>74k1.sh</h1>
    </header>
    <nav>
      <!--<a href="/">-> ~</a>-->
      <a href="/blog/" class="link">/blog</a>
      <a href="/contact/" class="link">/contact</a>
    </nav>
  </section>
  <div class="index-main">
    <section class="index-about">
      <p>Hi, I'm <span class="accent1">Tim</span>!</p>
      <p>I'm a <span class="accent1">System Engineer</span> with a <span class="accent1">Cyber Security Specialist</span> degree and a concerning obsession with infrastructure that just works.</p>
      <p>Most days you'll find me exploring new tools and tweaking my <span class="accent2"><a href="https://github.com/74k1/tix" class="link ext">system configuration</a></span> to make it efficient at its core tasks.</p>
      <p>I'm fascinated by declarative system management and the art of making infrastructure disappear.</p>
      <p>I strive for systems that are <span class="accent2">efficient</span> at their core: precise and controllable underneath, utterly frictionless on the surface, and <span class="accent2">invisible</span> enough to forget they're there.</p>
      <p>Currently deep in <span class="accent1">personal projects</span> while keeping the home lab from burning down. Take a look around.</p>
      <p>If you have any questions, inquiries or want to correct me, feel free to <a class="link" href="/contact/">reach out</a>. <br><br> <span class="gray">I don't bite (most of the time).</span></p>
    </section>
    <section class="footer">
      <p><a href="https://github.com/74k1.gpg" class="link ext">gpg</a></p>
      <p title="my timezone"><span id="UTC-OFFSET" class="gray"></span> <span id="UTCNOW"></span></p>
    </section>
  </div>
  <section class="index-profile">
    <div class="img-c">
      <img src="/profile.png"></img>
    </div>
    <p title="my age"><span class="gray">UPTIME</span><br><span id="uptime" onclick="toggleUptimeFormat()"></span></p>
    <p title="my preferred language"><span class="gray">LOCALE</span><br>en_ch.utf-8</p>
    <p><span class="gray">STATUS</span><br>online</p>
    <p><span class="gray">©</span></p>
  </section>
</main>
{% endblock content %}
