{% extends "base.html" %}

{% block content %}
<main>
  <section class="index-nav">
    <header>
      <h1>74k1.sh</h1>
    </header>
    <nav>
      <!--<a href="/">-> ~</a>-->
      <a href="/blog/" class="link">/blog</a>
      <a href="/contact/" class="link">/contact</a>
    </nav>
  </section>
  <div class="index-main">
    <section class="index-about">
      <p>Hi, I'm <span class="accent1">Tim</span>.</p>
      <p>I'm a <span class="accent1">Junior System Engineer</span> with a love for <span class="accent2">thoughtfully-crafted cli tools</span>, <span class="accent2">striking graphics</span> and <span class="accent2">NixOS</span>.</p>
      <p>You'll often find me exploring new tools and tweaking configurations to make systems more useable.</p>
      <p>I'm fascinated by efficient <span class="accent1">system management</span>, <span class="accent1">automation</span> and the ways we can make computers <span class="accent1">work better for us</span>.</p>
      <p>The intersection of <span class="accent2">usability</span> and <span class="accent2">technical elegance</span> is where I thrive.</p>
      <p>I'm currently pursuing my federal <span class="accent1">Cyber Security Specialist</span> certification while gaining hands-on experience through <span class="accent1">system administration</span> and my self-hosted servers.</p>
      <p>Take a look to see what I've been working on.</p>
      <p>If you have any questions or inquiries, feel free to reach out.</p>
    </section>
    <section class="footer">
      <p><a href="https://github.com/74k1.gpg" target="_blank" class="link ext">gpg</a></p>
      <p title="my timezone">UTC+1 <span id="UTCNOW"></span></p>
    </section>
  </div>
  <section class="index-profile">
    <div class="img-c">
      <img src="/profile.png"></img>
    </div>
    <p title="my age"><span class="gray">UPTIME</span><br><span id="uptime" onclick="toggleUptimeFormat()"></span></p>
    <p title="my preferred language"><span class="gray">LOCALE</span><br>en_ch.utf-8</p>
    <p><span class="gray">STATUS</span><br>online</p>
    <p><span class="gray">©</span></p>
  </section>
</main>
{% endblock content %}
